<!DOCTYPE html >

<html>

<head>
	<title>About</title>
	<meta charset="utf-8">
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	</head>

<body>
    
	<div id="background">
	  <div class="page">
	       <div id="header">
		          <ul class="navigation">
				  <li><a href="food.html">Íàøè áëþäà</a></li>
				  <li><a href="beer.html">Íàøå ïèâî</a></li>
				  </ul>
				  
				  <a id="logo" href="index.html"><img src="images/logo2.jpg" width="276" height="203" alt="Steak House" title="Steak House"></a>
				  
				  <ul id="navigation">
				  <li><a href="reservation.html">Ðåçåðâèðîâàíèå</a></li>
				  <li><a href="contact.html">Êîíòàêòû</a></li>
				  </ul>
		   </div>
		   <div id="body">
		   
		    
				
			   
			    <div class="content">
				   <div class="body">
				   
				        <h2>Î íàñ</h2>
						
						<ul>
							<li>
								<h2><a href="about.html"></a></h2>
								<p>
										
								</p>
							</li>
							<li>
							   <h2><a href="about.html"></a></h2>
								<p>
								    
								</p>
							</li>
							<li>
								<h2><a href="about.html"></a></h2>
								<p>
										
								</p>
							</li>
							<li>
								 <h2><a href="about.html"></a></h2>
								<p>
										
								</p>
							</li>
							
					   </ul>
				   
				       
				   
				   </div>
				</div>	
			   
		   </div>
		   
		   
		   
		   
		   <div id="footer">
                <ul>
					<li class="first">
					     <ul>
							<li><a href="index.html">Äîìîé</a></li>	
							<li><a href="about.html">Î íàñ</a></li>	
							<li><a href="menu.html">Íàøè áäþäà</a></li>	
							<li><a href="beer.html">Íàøå ïèâî</a></li>	
							<li><a href="contact.html">Î íàñ</a></li>
						 </ul>
					</li>
					
					<li class="last">
				        <span> &copy; Âñå ïðàâà çàùèùåíû.</span> 	
					</li>
				</ul>		       
			   
		   </div>
		
	  </div> 
     </div>	  
	
</body>
</html>