{% load staticfiles %}
<!DOCTYPE html >
<html>

<head>
    <title>Our Beer</title>
    <meta charset="utf-8">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="background">
        <div class="page">
            <div id="header">
                <ul class="navigation">
                    <li><a href="food.html">Наша еда</a></li>
                    <li><a class="active" href="beer.html">Наше пиво</a></li>
                </ul>
                <a id="logo" href="index.html"><img src="{% static 'images/logo2.jpg' %}" width="276" height="203" alt="Steak House" title="Steak House"></a>
                <ul id="navigation">
                    <li><a href="reservation.html">Резервация</a></li>
                    <li><a href="contact.html">Контакты</a></li>
                </ul>
            </div>
            <div id="body">
                <div class="content">
                    <div class="body">
                      <h3>Пиво</h3>

                     <ul class="section">
                      <li class="odd">
                         <h2>Разливное</h2>
                         <ul>
                             <li>
                              <h2><a href="food.html">Hoegaarden</a></h2> <span>$0.00</span>
                            <p>
                              Бельгийское пшеничное (так называемое «белое») пиво, производимое компанией InBev в одноимённой деревне.
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">Paulaner   </a></h2> <span>$0.00</span>
                            <p>
                             Немецкое светлое пиво, ранее производимое монахами ордена Минимы
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">Oettinger</a></h2> <span>$0.00</span>
                            <p>
                             Немецкая марка светлого пива славящаяся своей доступностью
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">Amber ale  </a></h2> <span>$0.00</span>
                            <p>
                              Бледный эль(Pale ale)одна из разновидностей английского светлого пива.
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">Belhaven</a></h2> <span>$0.00</span>
                            <p>
                              Роскошный тёмный стаут, состоит из трёх сортов солода: шоколадного, карамельного и жжёного ячменного. С насыщенным шоколадным ароматом, характерным хмелевым оттенком. Легко пьющейся, незабываемый шотландский стаут.
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">Corona Extra      </a></h2> <span>$0.00</span>
                            <p>
                            Светлое пиво с нежным ароматом кукурузы и луговых трав, имеет характерную пенную шапку.
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">Chang   </a></h2> <span>$0.00</span>
                            <p>
                               Непальский и тибетский традиционный алкогольный напиток, популярный также в восточных регионах Гималаев и среди народа невари.
                            </p>
                           </li>
                           <li class="last">
                              <h2><a href="food.html">5th Ocean Belgian Blonde </a></h2> <span>$0.00</span>
                            <p>
                              Светлое нефильтрованное аромат лёгкий, с цветочными нотами.
                            </p>
                           </li>
                           </li>
                         </ul>
                    </li>
                    <li>
                       <h2>Бутылочное</h2>
                         <ul>
                             <li>
                              <h2><a href="food.html">Hoegaarden</a></h2> <span>$0.00</span>
                            <p>
                              Бельгийское пшеничное (так называемое «белое») пиво, производимое компанией InBev в одноимённой деревне.
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">Paulaner   </a></h2> <span>$0.00</span>
                            <p>
                             Немецкое светлое пиво, ранее производимое монахами ордена Минимы
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">Oettinger</a></h2> <span>$0.00</span>
                            <p>
                             Немецкая марка светлого пива славящаяся своей доступностью
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">Amber ale  </a></h2> <span>$0.00</span>
                            <p>
                              Бледный эль(Pale ale)одна из разновидностей английского светлого пива.
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">Belhaven</a></h2> <span>$0.00</span>
                            <p>
                              Роскошный тёмный стаут, состоит из трёх сортов солода: шоколадного, карамельного и жжёного ячменного. С насыщенным шоколадным ароматом, характерным хмелевым оттенком. Легко пьющейся, незабываемый шотландский стаут.
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">Corona Extra      </a></h2> <span>$0.00</span>
                            <p>
                            Светлое пиво с нежным ароматом кукурузы и луговых трав, имеет характерную пенную шапку.
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">Chang   </a></h2> <span>$0.00</span>
                            <p>
                               Непальский и тибетский традиционный алкогольный напиток, популярный также в восточных регионах Гималаев и среди народа невари.
                            </p>
                           </li>
                           <li class="last">
                              <h2><a href="food.html">5th Ocean Belgian Blonde </a></h2> <span>$0.00</span>
                            <p>
                              Светлое нефильтрованное аромат лёгкий, с цветочными нотами.
                            </p>
                           </li>
                           </li>
                         </ul>
                    </li>
                  </ul>
                    </div>
                </div>
            </div>
            <div id="footer">
                <ul>
                    <li class="first">
                        <ul>
                            <li><a href="index.html">Домой</a></li>
                            <li><a href="about.html">О нас</a></li>
                            <li><a href="menu.html">Наши бдюда</a></li>
                            <li><a href="beer.html">Наше пиво</a></li>
                            <li><a href="contact.html">О нас</a></li>
                        </ul>
                    </li>
                    <li class="last">
                        <span> &copy; Все права защищены.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>


</html>
