{% load staticfiles %}
<!DOCTYPE html >
<html>

<head>
    <title>Contatc Usss - Website Template</title>
    <meta charset="utf-8">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="background">
        <div class="page">
            <div id="header">
                <ul class="navigation">
                    <li><a href="/food">Наша еда</a></li>
                    <li><a href="/beer">Наше пиво</a></li>
                </ul>
                <a id="logo" href="/main"><img src="{% static 'images/logo2.jpg' %}" width="276" height="203" alt="Steak House" title="Steak House"></a>
                <ul id="navigation">
                    <li><a href="/reservation">Резервация</a></li>
                    <li><a class="active" href="/contact">Контакты</a></li>
                </ul>
            </div>
            <div id="body">
                <div class="content">
                    <div class="body">
                        <h2>Контакты</h2>
                        <ul>
                            <li>
                              <br />
                                <h4>Отдел 2</h4>
                              <br />
                            </li>
                        </ul>
                        <table>
                            <tr>
                                <td><span>Расположение</span></td>
                                <td>: Пр. Победы,49</td>
                            </tr>
                            <tr>
                                <td><span>Время работы</span></td>
                                <td>: С понедельника по воскресенье : 10:30 - 21:30</td>
                            </tr>
                            <tr>
                                <td><span>Наш номер</span></td>
                                <td>: (717) 232-3706, (717) 232-3553</td>
                            </tr>
                            <tr>
                                <td><span>E-mail</span></td>
                                <td>: SteakHouse@mail.ru</td>
                            </tr>
                            <tr>
                                <td><span>Требуются: </span></td>
                                <td>: Сотрудники на стажировку (Системный администратор и повары)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="footer">
                <ul>
                    <li class="first">
                        <ul>
                            <li><a href="index.html">Домой</a></li>
                            <li><a href="about.html">О нас</a></li>
                            <li><a href="menu.html">Наши бдюда</a></li>
                            <li><a href="beer.html">Наше пиво</a></li>
                            <li><a href="contact.html">О нас</a></li>
                        </ul>
                    </li>
                    <li class="last">
                        <span> &copy; Все права защищены.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
