{% load staticfiles %}
<!DOCTYPE html >
<html>

<head>
    <title>Our Food</title>
    <meta charset="utf-8">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="background">
        <div class="page">
            <div id="header">
                <ul class="navigation">
                    <li><a class="active" href="food.html">Наша еда</a></li>
                    <li><a href="beer.html">Наше пиво</a></li>
                </ul>
                <a id="logo" href="index.html"><img src="{% static 'images/logo2.jpg' %}" width="276" height="203" alt="Steak House" title="Steak House"></a>
                <ul id="navigation">
                    <li><a href="reservation.html">Резервация</a></li>
                    <li><a href="contact.html">Контакты</a></li>
                </ul>
            </div>
            <div id="body">
                <div class="content">
                    <div class="body">
                      <h3>Блюда</h3>

                      <ul class="section">
                      <li class="odd">
                         <h2>Классические стейки</h2>
                         <ul>
                             <li>
                              <h2><a href="food.html">БИЗОН ДЖАМБО СТЕЙК </a></h2> <span>$0.00</span>
                            <p>
                              Приготовлен по техасскому рецепту, с бурбоном и специями.
      Рибай из премиальной говядины, 150 дней зернового откорма.
      Порода бычков - Блэк Ангус.
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">ФИЛЕ СТЕЙК    </a></h2> <span>$0.00</span>
                            <p>
                             Нежный стейк из говяжьей вырезки травяного откорма. Уругвай.
      Рекомендуем с Пино Нуар из Новой Зеландии.
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">ФИЛЕ ПРАЙМ СТЕЙК</a></h2> <span>$0.00</span>
                            <p>
                              Стейк из премиальной говяжьей вырезки зернового откорма.
      Уругвай. Порода бычков — Блэк Ангус.
      Рекомендуем с Катапульт из Австралии.
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">РИБАЙ СТЕЙК БЛЭК АНГУС   </a></h2> <span>$0.00</span>
                            <p>
                              Стейк из уругвайской говядины, 100 дней зернового откорма,
      100% мясо породы бычков Блэк Ангус.
      Рекомендуем с Алтозано из Испании.
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">РИБАЙ СТЕЙК RUSSO  </a></h2> <span>$0.00</span>
                            <p>
                              Мраморный стейк из российской говядины.
      200 дней зернового откорма. Порода бычков — Блэк Ангус.
      Рекомендуем c Мальбеком из Аргентины.
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">НЬЮ-ЙОРК СТЕЙК  </a></h2> <span>$0.00</span>
                            <p>
                              Стейк из уругвайской говядины зернового откорма.
      Порода бычков — Блэк Ангус. Градация мраморности — «прайм».
      Рекомендуем с Карменер из Чили.
                            </p>
                           </li>

                         </ul>
                    </li>

                    <li>
                       <h2>Альтернативные стейки</h2>
                         <ul>
                             <li>
                              <h2><a href="food.html">СТЕЙК ОХОТНИКА     </a></h2> <span>$0.00</span>
                            <p>
                              Вырезка или рибай королевского оленя. Новая Зеландия. Уточняйте у Вашего официанта.
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">МАЧЕТЕ СТЕЙК  </a></h2> <span>$0.00</span>
                            <p>
                              Необычная текстура и оригинальная форма делают Мачете
      поистине мужским стейком. 200 дней зернового откорма.
      Порода бычков Блэк Ангус. Россия.
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">МАРУЧО АРГЕНТИНА СТЕЙК   </a></h2> <span>$0.00</span>
                            <p>
                              Стейк из наиболее деликатесной мышцы лопаточной
      части аргентинской говядины зернового откорма.
                            </p>
                           </li>
                           <li>
                              <h2><a href="food.html">КАРЕ ЯГНЕНКА, 7-8 РЕБРЫШЕК    </a></h2> <span>$0.00</span>
                            <p>
                              Классика из Новой Зеландии.
                            </p>
                           </li>

                         </ul>

                    </li>
                  </ul>

                 </div>
              </div>

             </div>




             <div id="footer">
                      <ul>
                <li class="first">
                     <ul>
                    <li><a href="index.html">Домой</a></li>
                    <li><a href="about.html">О нас</a></li>
                    <li><a href="menu.html">Наши бдюда</a></li>
                    <li><a href="beer.html">Наше пиво</a></li>
                    <li><a href="contact.html">О нас</a></li>
                   </ul>
                </li>

                <li class="last">
                      <span> &copy; Все права защищены.</span>
                </li>
              </ul>
            </div>
        </div>
    </div>
</body>

</html>
