{% load staticfiles %}
<!DOCTYPE html >
<html>

<head>
    <title>Website Template</title>
    <meta charset="utf-8">
    <link href="{% static 'css/styler.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/slider.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <ul>
      <li><a href="/food">Наша еда</a></li>

      <li><a href="/bear">Наше пиво</a></li>

      <li id="logo"><a href="/main">
          <img src="{% static 'images/logo.png' %}" alt="Stake House">
      </a></li>

      <li><a href="/reservation">Резервирование</a></li>

      <li><a href="/contact">Контакты</a></li>
    </ul>
  </header>
  <br />
  <br />
  <section id="news-section">
    <div class="comment-left">
      <h2>
        СУПЕР СТЕЙКИ
      </h2>
      <br />
      <h1>3 333 Тг. </h1>
      <p>
        Зарезервируйте стол и получите скидку на Супер стейк! Супер стейки - по супер низкой цене!
        <br />
        (Предложение действует до конца ноября 17 года!)
      </p>
      <a href="/reservation"><button type="button" name="button">РЕЗЕРВАЦИЯ</button></a>
    </div>
    <div class="slideshow-conteiner" id="slider-center" style="float: left;">

  		<div class="mySlides fade">
  			<img src="{% static 'images/barbeque1.jpg' %}" style="width: 100%;">
  			<div class="text"></div>
  		</div>

  		<div class="mySlides fade">
  			<img src="{% static 'images/barbeque2.jpg' %}" style="width: 100%;">
  			<div class="text"></div>
  		</div>

  		<div class="mySlides fade">
  			<img src="{% static 'images/barbeque3.jpg' %}" style="width: 100%;">
  			<div class="text"></div>
  		</div>
  		<a class="prev" onclick="plusSlides(-1)">&#10094</a>
  		<a class="next" onclick="plusSlides(1)">&#10095</a>
      <menu style="text-align: center;">
        <span class="dot" onclick="currentSlide(1)"></span>
    		<span class="dot" onclick="currentSlide(2)"></span>
    		<span class="dot" onclick="currentSlide(3)"></span>
      </menu>
  	<script type="text/javascript" src="{% static 'javascript/slider.js' %}"></script>
  </section>
  <br />
  <br />
  <section class="content-background">
    <div class="segment-center" style="height: 450px;">
      <div class="article-left">
        <h3>Закажите комплексный обед <br> всего за 1500тг!</h3>
        <br />
        <img src="{% static 'images/barbeque2.jpg' %}" alt="">
      </div>
      <div class="article-right">
        <h3>Последние события</h3>
        <ul>
          <li>
            <h2>Кто больше съест</h2>
            <p>Конкурс проводится в торговом центре "Mega silk way". Для участия
            требуется возраст <b>18+</b>!</p>
          </li>
          <li>
            <h2>Второй супер стейк в подарок</h2>
            <p>При покупке двух больших комбо "Супер прожарка с кровью" кебаб в
              коробочке в подарок!</p>
          </li>
          <li>
            <h2>Открытие ресторана</h2>
            <p>12 Апреля состоится открытие нашего ресторана в Алмате, ждем всех!</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

<section class="content-background">
  <div class="segment-center" style="height: 560px;">
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2501.2427137863942!2d71.41530371493721!3d51.17774929257424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4245872cf51131e5%3A0xe0a8f597de40f012!2z0J_QvtC70LjRgtC10YXQvdC40YfQtdGB0LrQuNC5INC60L7Qu9C70LXQtNC2LCDRg9C70LjRhtCwINCR0LXQudCx0LjRgtGI0LjQu9C40LosINCQ0YHRgtCw0L3QsCAwMjAwMDA!5e0!3m2!1sru!2skz!4v1495137059273" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      Ул. Бейбитшилик, работаем с 13:00 - 17:00
      <br />(Но это не точно...)
    </div>
  </div>
</section>

  <footer>
    <div class="segment-center">
      <ul>
        <li>© Все права защищены.</li>
        <li><a href="/about">О нас</a></li>
        <li><a href="/beer">Наше пиво</a></li>
        <li><a href="/food">Наши бдюда</a></li>
        <li><a href="/contact">О нас</a></li>
        <li><a href="/about">Домой</a></li>
      </ul>
    </div>
  </footer>

</body>

</html>
