<!DOCTYPE html >

<html>

<head>
	<title>Reservation - Website Template</title>
	<meta  charset=iso-8859-1" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	
</head>

<body>
    
	<div id="background">
	  <div class="page">
	       <div id="header">
		          <ul class="navigation">
				  <li><a href="food.html">Наша еда</a></li>
				  <li><a href="beer.html">Наше пиво</a></li>
				  </ul>
				  
				  <a id="logo" href="index.html"><img src="images/logo2.jpg" width="276" height="203" alt="Steak House" title="Steak House"></a>
				  
				  <ul id="navigation">
				  <li><a class="active" href="reservation.html">Резервация</a></li>
				  <li><a href="contact.html">Контакты</a></li>
				  </ul>
		   </div>
		   <div id="body">
		   
		    
				
			   
			    <div class="content">
				   <div class="body">
				   
				        <h2>Резервация</h2>
						
						
						
						
						<ul>
							<li>
								
								
									<h4>
										
									</h4>
								
								
								<p>
										
								</p>
							</li>
						
							
					    </ul>
				       
					    <ul class="news">
							<li>
							     <a href="reservation.html">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
							</li>
							<li>
							     <a href="reservation.html">Nam sit amet dui gravida tellus lobortis ullamcorper.</a>
							</li>
							<li>
							     <a href="reservation.html">Sed sit amet interdum magna vulputate mollis lectus</a>
							</li>
							<li>
							     <a href="reservation.html">Vestibulum in feugiat dolor. Pellentesque in adipiscing orci.</a>
							</li> 
							<li>
							     <a href="reservation.html">Maecenas eu ipsum a odio varius mollis vitae at ante</a>
							</li>
							<li>
							     <a href="reservation.html">Aenean faucibus suscipit velit at tincidunt.</a>
							</li>
							<li>
							     <a href="reservation.html">Mauris pharetra  sem quis convallis gravida  enim</a>
							<li>
							     <a href="reservation.html">Aenean faucibus suscipit velit at tincidunt.</a>
							</li>
							<li>
							     <a href="reservation.html">Mauris pharetra  sem quis convallis gravida  enim</a>
							</li>
							</li>
						</ul>
				       
				   
				   </div>
				</div>	
			   
		   </div>
		   
		   
		   
		   
		   <div id="footer">
                <ul>
					<li class="first">
					     <ul>
							<li><a href="index.html">Домой</a></li>	
							<li><a href="about.html">О нас</a></li>	
							<li><a href="menu.html">Наши бдюда</a></li>	
							<li><a href="beer.html">Наше пиво</a></li>	
							<li><a href="contact.html">О нас</a></li>
						 </ul>
					</li>
					
					<li class="last">
				        <span> &copy; Все права защищены.</span>	
					</li>
				</ul>		       
			   
		   </div>
		
	  </div> 
     </div>	  
	
</body>
</html>