{% load staticfiles %}
<!DOCTYPE html >
<html>

<head>
	<title>Reservation - Website Template</title>
	<metacharset="utf-8">
	<link href="{%static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="background">
		<div class="page">
			<div id="header">
				<ul class="navigation">
					<li><a href="food.html">Наша еда</a></li>
					<li><a href="beer.html">Наше пиво</a></li>
				</ul>
				<a id="logo" href="index.html"><img src="{%static 'images/logo2.jpg' %}" width="276" height="203" alt="Steak House" title="Steak House"></a>
				<ul id="navigation">
					<li><a class="active" href="reservation.html">Резервация</a></li>
					<li><a href="contact.html">Контакты</a></li>
				</ul>
			</div>
			<div id="body">
				<div class="content">
					<div class="body">
						<h2>Резервация</h2>
						<ul>
							<li>
								<h4>
								</h4>
								<p>
								</p>
							</li>
						</ul>
						<ul class="news">
							<li>
								<a href="reservation.html">Здесь могла быть ваша реклама.</a>
							</li>
							<li>
								<a href="reservation.html">А если честно то тут должен быть текст.</a>
							</li>
							<li>
								<a href="reservation.html">И он должен был касаться резервации.</a>
							</li>
							<li>
								<a href="reservation.html">Так что придумайте его сами.</a>
							</li>
							<li>
								<a href="reservation.html">Мы знаем, вы можете!</a>
							</li>
							<li>
								<a href="reservation.html">Строчки не несущие в себе смысла.</a>
							</li>
							<li>
								<a href="reservation.html">Или несут в себе более глубой чем мы можем представить.</a>
								<li>
									<a href="reservation.html">Стейк или жизнь? Вот в чем вопрос...</a>
								</li>
								<li>
									<a href="reservation.html">Продам гОраж.</a>
								</li>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="footer">
				<ul>
					<li class="first">
						<ul>
							<li><a href="index.html">Домой</a></li>
							<li><a href="about.html">О нас</a></li>
							<li><a href="menu.html">Наши бдюда</a></li>
							<li><a href="beer.html">Наше пиво</a></li>
							<li><a href="contact.html">О нас</a></li>
						</ul>
					</li>
					<li class="last">
						<span>&copy; Все права защищены.</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>


</html>
